<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	<add key="BenCamps" value="https://nuget.pkg.github.com/BenCamps/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<BenCamps>
		<add key="UserName" value="BenCamps" />
		<add key="Password" value="4c53d50c25a8a8ebfb7f8f604eb300922a93bd30" /> 
	</BenCamps>
  </packageSourceCredentials>
</configuration>